<h1>Hi <%= @request.first_name %></h1>
<p>Thanks for requesting one of our workstation!</p>
<p>In order to confirm your request please click<%= link_to "this link", confirm_request_url(@request)%></p>
<p>Sincerely</p>
