<div class="banner">
  <div class= "offer">
    <h1>Are you an independent worker?</h1>
    <h2>Looking for a great office?</h2>

    <%= link_to "join us!",  new_request_path, class: "btn btn-primary btn-lg"  %>
  </div>
</div>
