<% @rooms.each do |room| %>
  <div class="room">
    <% @room_attributes.each do |room_attribute| %>
      <div class="room-spec">
        <%= room[room_attribute] %>
      </div>
      <% end %>
      <% if room.picture.attached?  %>
      <div class="room-picture"><%= image_tag url_for(room.picture) %></div>
      <% end %>
  </div>
<% end %>


