<!-- <table class="table table-striped table-bordered table-sm">
  <%#= render "table_head" %>
  <%#= render "table_body" %>
</table> -->

<!-- <div class="room-list">
  <%#= render "room_list" %>
</div> -->

<div class="room-list">
  <% @rooms.each do |room| %>
    <%= render "room", room: room %>
  <% end %>
</div>
