// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.room-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.room {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
}

